# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
/python-backend/.env
pip-wheel-metadata/
.venv

# Node
node_modules
.next
npm-debug.log
yarn-error.log
dist
build
out

# General
.DS_Store
*.pem
*.key
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*~
*.swp
