@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 17% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 165 17% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 165 17% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 174 45% 42%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 66 69% 77%;
    --accent-foreground: 70 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 174 45% 42%;
    --radius: 0.5rem;
    --chart-1: 174 45% 51%;
    --chart-2: 66 69% 77%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 204 10% 10%;
    --foreground: 210 20% 98%;
    --card: 204 10% 15%;
    --card-foreground: 210 20% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 174 45% 51%;
    --primary-foreground: 174 50% 10%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 10% 20%;
    --muted-foreground: 210 20% 60%;
    --accent: 66 60% 50%;
    --accent-foreground: 66 100% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 174 45% 51%;
    --chart-1: 174 45% 51%;
    --chart-2: 66 60% 50%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
